/* ./src/index.css */
@tailwind base;
@tailwind components;
@tailwind utilities;

/*------SIDEBAR------*/

select:focus {
    outline: none;
}

body {
    overflow-y: hidden;
    font-size: 18px !important;
}

::-webkit-scrollbar {
    display: none;
}

.selected svg{
    filter: invert(14%) sepia(1%) saturate(2652%) hue-rotate(180deg) brightness(0%) contrast(89%);
}